<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>UNTITLED</title>

</head>

<body>

  <!--Main Navigation-->
  <header>
    <app-navbar></app-navbar>
  </header>
  <!--Main Navigation-->

  <main>
    <app-home></app-home>

  </main>
      <br/>
  <!-- <div class="container"> -->

    <!-- Example row of columns -->
    <div class="row">
      
      

      <div class="col-md-12">
          <hr>
          <app-card-carousel></app-card-carousel>
          <hr>
      </div>
      
     
    </div>
    <br/>
    <!-- </div> -->

  <!--Footer-->
  <footer class="page-footer info-color-dark center-on-small-only">

    <!--Footer Links-->
    <div class="container">
      <div class="row">

        <!--First column-->
        <div class="col-md-6">
          <br/>
          <h5 class="title">Footer Content</h5> <a href="https://mdbootstrap.com"> MDBootstrap.com </a>

        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-6">
            <br/>
          <h5 class="title">Links</h5>
          <ul>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
        <!--/.Second column-->
      </div>
    </div>
    <!--/.Footer Links-->


  </footer>
  <!--/.Footer-->
 

  <script src="./card-carousel/card-carousel.component.js"></script>
</body>

</html>